<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angel Slots</title>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body id="body_login">

    <h1>Login</h1>

    <div id="login">
        <form action="/login" method="POST"> 
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <button type="submit"> Login </button>
        </form>
        <form action="/register" method="GET" >
            <button type="submit">Create account</button>
        </form>
    </div>




</body>
</html>